@{
    ViewBag.Title = "PhotoShootEffect";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Shoot Effect</title>
    <style>

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


        body {
            width: 960px;
            margin: 0 auto;
            font-family: Arial, sans-serif;
            color: #fcfcfc;
            background-color: #355664;
        }


        h1 {
            font-family: forte, Arial, sans-serif;
            font-size: 50px;
            padding: 10px 0 0;
            text-align: center;
        }

        h2 {
            font-family: forte, Arial, sans-serif;
            font-size: 40px;
            letter-spacing: 15px;
            text-align: center;
            border-bottom: 3px solid #416371;
            padding-bottom: 20px;
        }

        h3 {
            text-align: right;
            font-size: 30px;
            font-weight: normal;
            margin: 0 0 10px;
        }


        p {
            line-height: 20px;
            padding-bottom: 5px;
            color: #94c258;
        }


        img {
            width: 500px;
            height: 300px;
            border: none;
        }


        .article-content {
            margin: 15px 0;
        }


        nav {
            background-color: #355664;
            padding: 0 5px;
        }

            nav a {
                color: #ffffff;
                margin: 5px 2px;
                padding: 7px 10px 4px;
                font-size: 30px;
            }

                nav a:hover {
                    color: #7CB3E9;
                }


        article {
            height: 390px;
            background-color: #213E4A;
            padding: 20px;
            margin: 0 0 10px;
        }


        figure {
            border: 3px solid #142830;
            float: right;
            height: 300px;
            width: 500px;
            margin-left: 15px;
            border-radius: 10px;
        }


        footer {
            border-top: 3px solid #142830;
            padding-top: 15px;
            margin-bottom: 30px;
            text-align: center;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="#">photoshoot</a>
        <a href="#">Sweet Tabs</a>
        <a href="#">NAVIGATION MENU</a>
    </nav>

    <h1>PHOTOSHOOT EFFECT</h1>

    <article>
        <div class="article-content">
            <p>In this tutorial, we are creating a photo shoot effect with our just-released PhotoShoot jQuery plug-in. With it you can convert a regular div on the page into a photo shooting stage simulating a camera-like feel.</p>

            <p>Potential clients want to see who they'll be working with. They want to hire people, not stock photography. We produced a custom photo shoot to bring the people of Paterson Buchanan front and center and to underscore the firm's open and welcoming style. Vivid images illustrate Paterson Buchanan's wide range of clients, as well as their commitment to the picturesque region the firm serves.</p>

            <figure>
                <img src="~/Content/Img/PSE_Example.jpg" alt="Photoshoot effect">
            </figure>
        </div>
    </article>

    <footer>
        &copy; Copyright 2017 - YourSite.com
    </footer>
</body>
</html>
